/java/Netbeans/BinaryGap/nbproject/private/
*.dll
*.jar
bin/
obj/
Debug/
*.cache
.vs/
.vscode/
*.class
*.pyc
.DS_Store
Exercism/.DS_Store
Exercism/hello-world/
csharp/VisualStudio/ASP.NET/Sample/
nodeJS/myExpressApp/
.gradle/
build/
.settings/
.plugins/
.lock
.log
Exercism/python/hello-world/hello_world_test.py
Exercism/python/hello-world/hello_world.py
Exercism/python/hello-world/README.md
Exercism/python/hello-world/.exercism/metadata.json
.mypy_cache/
nodeJS/Promises/promises.js
nodeJS/inheritance/inheritance.js
java/Netbeans/
target/
java/Playing/src/psk/playing/ArrayToTree.java
java/Playing/src/psk/playing/BinPrinter.java
java/Playing/src/psk/playing/Bits.java
java/Playing/src/psk/playing/Calc.java
java/Playing/src/psk/playing/CalcTest.java
java/Playing/src/psk/playing/CircularLinkFinder.java
java/Playing/src/psk/playing/CopyBinarySlice.java
java/Playing/src/psk/playing/Favorites.java
java/Playing/src/psk/playing/GradeAverager.java
java/Playing/src/psk/playing/Maze.java
java/Playing/src/psk/playing/MazeTest.java
java/Playing/src/psk/playing/Node.java
java/Playing/src/psk/playing/SortPalindromes.java
java/Playing/src/psk/playing/TreeBalanceChecker.java
